.product {
  display: flex;
  flex-direction: column;
  background-color: rgb(87, 81, 81);
  align-items: center;
  margin: 10px;
  padding: 20px;
  /* max-width: 400px; */
  min-width: 100px;
  width: 100%;
  /* justify-content: flex-end; */
  /* z-index:1; */
}
.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product_price {
  margin-top: 5px;
}
.product_info {
  height: 100px;
  margin-bottom: 15px;
  width: 100%;
}

.product_rating {
  display: flex;
}
